.home-title{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px; 
    display: flex;
    align-items: center;
    letter-spacing: 0.02em; 
}

.home-text{
    font-family: Red Hat Display;
    margin-top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}