.search-content-card{
    background-color: #E6F7FF;
    border-radius: 16px;
    padding-top: 65px;
    padding-left: 95px;  
    padding-bottom: 45px;  
}

.title-search{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;    
}

.input-search{
    width: 675px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.button-search{
}